.nova-button__instance {
	border-radius: 4px;
}

.nova-button__icon {
	color: white;
	width: 25px;
	height: 25px;
	font-size: 25px;
	margin: 3px;
}

.nova-button__label {
	color: white;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	text-align: left;
}

.nova-button__state {
	padding: 10px 30px;
}

.nova-button__plane {
	&-normal {
		background-color: #6ec1e4;
	}

	&-hover {
		background-color: #54595f;
	}
}
