.nova-carousel .nova-carousel__item-title {
  margin: 0;
  padding: 0; }

.nova-carousel .nova-arrow {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-top: -18px;
  color: #fff; }
  .nova-carousel .nova-arrow:before {
    font-size: 23px; }
  .nova-carousel .nova-arrow.prev-arrow {
    left: 20px; }
  .nova-carousel .nova-arrow.next-arrow {
    right: 20px; }

.brands-list .brands-list__item-name {
  margin: 20px 0 0 0; }

.brands-list .brands-list__item-img {
  display: inline-block; }

.nova-animated-box__front, .nova-animated-box__back {
  padding: 10px; }

.nova-animated-box__icon .nova-animated-box-icon-inner {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.nova-animated-box__icon i {
  font-size: 40px;
  color: white; }

.nova-animated-box .nova-animated-box__title {
  color: white;
  font-size: 23px;
  margin: 0 0 10px 0; }

.nova-animated-box .nova-animated-box__subtitle {
  color: white;
  font-size: 18px;
  margin: 0 0 10px 0; }

.nova-animated-box .nova-animated-box__description {
  color: white;
  font-size: 13px;
  margin: 0 0 10px 0; }

.nova-animated-box .nova-animated-box__button .nova-animated-box__button-text {
  margin: 0 3px; }

.nova-animated-box .nova-animated-box__button .nova-animated-box__button-icon {
  color: white; }

.nova-animated-text__before-text {
  font-size: 36px; }

.nova-animated-text__animated-text {
  font-size: 40px; }

.nova-animated-text__after-text {
  font-size: 36px; }

.nova-images-layout__inner {
  margin: 10px; }

.nova-images-layout__icon .nova-nova-images-layout-icon-inner {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.nova-images-layout__icon i {
  font-size: 40px;
  color: white; }

.nova-images-layout__content {
  padding: 20px; }
  .nova-images-layout__content:before {
    opacity: 0.4;
    background-color: rgba(84, 89, 95, 0.6); }

.nova-images-layout .nova-images-layout__title {
  color: white;
  font-size: 23px;
  margin: 0 0 10px 0; }

.nova-images-layout .nova-images-layout__desc {
  color: white;
  font-size: 13px;
  margin: 0 0 10px 0; }

.nova-slider {
  position: relative; }
  .nova-slider__icon .nova-slider-icon-inner {
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .nova-slider__icon i {
    font-size: 40px;
    color: white; }
  .nova-slider .nova-slider__icon {
    color: white;
    font-size: 40px;
    text-align: center; }
  .nova-slider .nova-slider__title {
    color: white;
    font-size: 36px;
    margin: 10px 0;
    text-align: center; }
  .nova-slider .nova-slider__subtitle {
    color: white;
    font-size: 24px;
    margin: 10px 0;
    text-align: center; }
  .nova-slider .nova-slider__desc {
    color: white;
    font-size: 14px;
    margin: 10px 0 30px 0;
    text-align: center; }
  .nova-slider .nova-slider__button-wrapper {
    text-align: center; }
    .nova-slider .nova-slider__button-wrapper .nova-slider__button--primary {
      background-color: #6ec1e4; }
  .nova-slider .sp-image-container {
    position: relative; }
    .nova-slider .sp-image-container:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      content: ''; }
  .nova-slider .sp-arrow {
    color: white;
    font-size: 30px;
    background-color: #6ec1e4; }
  .nova-slider .sp-full-screen-button {
    font-size: 16px;
    color: white; }
  .nova-slider .sp-buttons .sp-button {
    border-color: #6ec1e4;
    background-color: transparent; }
    .nova-slider .sp-buttons .sp-button.sp-selected-button {
      background-color: #6ec1e4; }
    .nova-slider .sp-buttons .sp-button:hover {
      background-color: #6ec1e4; }
  .nova-slider .sp-thumbnails .sp-thumbnail-container:hover:before {
    border: 2px solid #54595f; }
  .nova-slider .sp-thumbnails .sp-thumbnail-container.sp-selected-thumbnail:before {
    border: 2px solid #6ec1e4; }

.nova-team-member .nova-team-member__cover:before {
  background-color: rgba(84, 89, 95, 0.5); }

.nova-team-member .nova-team-member__cover:after {
  border-color: rgba(84, 89, 95, 0.5) transparent transparent transparent; }

.nova-team-member .nova-team-member__name {
  font-size: 20px;
  color: black;
  margin: 10px 0; }

.nova-team-member .nova-team-member__position {
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
  color: #6ec1e4; }

.nova-team-member .nova-team-member__desc {
  text-align: center;
  font-size: 16px;
  color: #54595f;
  margin: 10px 0; }

.nova-team-member .nova-team-member__socials {
  margin: 10px 0; }

.nova-team-member .nova-team-member__socials-icon {
  font-size: 18px;
  color: #6ec1e4; }
  .nova-team-member .nova-team-member__socials-icon .inner {
    width: 25px;
    height: 25px;
    border-radius: 50%; }

.nova-team-member .nova-team-member__socials-icon .inner {
  margin: 5px; }

.nova-testimonials .nova-testimonials__icon {
  font-size: 40px;
  text-align: center;
  margin: 5px; }
  .nova-testimonials .nova-testimonials__icon .nova-testimonials__icon-inner {
    width: 60px;
    height: 60px;
    border-radius: 50%; }
    .nova-testimonials .nova-testimonials__icon .nova-testimonials__icon-inner i {
      font-size: 40px; }

.nova-testimonials .nova-testimonials__title {
  font-size: 20px;
  color: black;
  margin: 5px; }

.nova-testimonials .nova-testimonials__comment {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #54595f;
  margin: 5px;
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #6ec1e4; }

.nova-testimonials .nova-testimonials__name {
  font-size: 18px;
  color: black;
  margin: 5px; }

.nova-testimonials .nova-testimonials__position {
  text-align: center;
  margin: 5px;
  font-size: 16px;
  color: #6ec1e4; }

.nova-testimonials .nova-testimonials__date {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  color: #7a7a7a; }

.nova-testimonials .nova-arrow {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-top: -18px;
  color: #fff;
  background-color: #6ec1e4; }
  .nova-testimonials .nova-arrow:before {
    font-size: 23px; }
  .nova-testimonials .nova-arrow.prev-arrow {
    left: 20px; }
  .nova-testimonials .nova-arrow.next-arrow {
    right: 20px; }

.nova-testimonials .nova-slick-dots {
  margin: 20px 0 0 0; }
  .nova-testimonials .nova-slick-dots li.slick-active span {
    background-color: #61ce70; }
  .nova-testimonials .nova-slick-dots li:hover span {
    background-color: #6ec1e4; }
  .nova-testimonials .nova-slick-dots li span {
    background-color: #7a7a7a; }

.nova-button__instance {
  border-radius: 4px; }

.nova-button__icon {
  color: white;
  width: 25px;
  height: 25px;
  font-size: 25px;
  margin: 3px; }

.nova-button__label {
  color: white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-align: left; }

.nova-button__state {
  padding: 10px 30px; }

.nova-button__plane-normal {
  background-color: #6ec1e4; }

.nova-button__plane-hover {
  background-color: #54595f; }

.nova-instagram-gallery__content {
  padding: 20px; }
  .nova-instagram-gallery__content:before {
    background-color: rgba(84, 89, 95, 0.6); }

.nova-instagram-gallery__caption {
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 10px 0;
  max-width: 100%;
  z-index: 1; }

.nova-instagram-gallery__meta {
  z-index: 1; }

.nova-instagram-gallery__comments-count {
  color: white;
  font-size: 20px;
  margin: 5px; }

.nova-instagram-gallery__comments-icon {
  color: #6ec1e4;
  margin-right: 5px; }

.nova-instagram-gallery__likes-count {
  color: white;
  font-size: 20px;
  margin: 5px; }

.nova-instagram-gallery__likes-icon {
  color: #6ec1e4;
  margin-right: 5px; }

.nova-headline__first {
  color: #54595f; }
  .nova-headline__first .nova-headline__deco {
    margin-right: 10px; }

.nova-headline__second {
  color: #6ec1e4; }
  .nova-headline__second .nova-headline__deco {
    margin-left: 10px; }

.nova-headline__divider {
  height: 2px;
  background-color: #7a7a7a; }

.nova-headline__deco-icon i {
  font-size: 30px;
  color: #54595f; }

.nova-headline--direction-horizontal .nova-headline__divider.nova-headline__left-divider {
  margin-right: 10px; }

.nova-headline--direction-horizontal .nova-headline__divider.nova-headline__right-divider {
  margin-left: 10px; }

.nova-subscribe-form .nova-subscribe-form__input {
  border: 1px solid #e0e0e8;
  background-color: #f7fafd;
  border-radius: 4px;
  padding: 13px 20px;
  margin: 5px 0; }
  .nova-subscribe-form .nova-subscribe-form__input.mail-invalid {
    color: #d9534f; }
  .nova-subscribe-form .nova-subscribe-form__input:focus {
    outline: none;
    box-shadow: 0 0 10px #e0e0e8; }
  .nova-subscribe-form .nova-subscribe-form__input:first-child {
    margin-top: 0; }
  .nova-subscribe-form .nova-subscribe-form__input:last-child {
    margin-bottom: 0; }

.nova-subscribe-form .nova-subscribe-form__submit {
  background-color: #6ec1e4; }

.nova-subscribe-form .nova-subscribe-form__submit-icon {
  color: white;
  font-size: 15px;
  margin-right: 10px; }

.nova-subscribe-form--inline-layout .nova-subscribe-form__submit {
  margin-left: 10px; }

.nova-subscribe-form--block-layout .nova-subscribe-form__submit {
  margin-top: 10px; }

.nova-subscribe-form--response-success .nova-subscribe-form__message {
  color: #5cb85c; }

.nova-subscribe-form--response-error .nova-subscribe-form__message {
  color: #d9534f; }
