.nova-posts {

	&__item {
		outline: none;
	}

	&__inner-box {
		overflow: hidden;
	}

	.nova-more {
		overflow: hidden;
		color: initial;
	}
	.nova-more-icon {
		margin-left: 5px;
	}

	.post-thumbnail {
		overflow: hidden;
	}

	&.nova-equal-cols {

		.slick-track {
			display: flex;
			align-items: stretch;
			.nova-posts__item {
				flex: 0 0 auto;
			}
		}

		.nova-posts__item {
			height: auto;
			display: flex;
			flex-direction: column;

			.nova-posts__inner-box {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				width: 100%;
				box-sizing: border-box;
			}

			.nova-posts__inner-content {
				flex-grow: 1;
			}

		}

	}

	.slick-slide {
		.nova-posts__item {
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

.post-meta{
	padding-bottom: 10px;
	&__item {
		display: inline-block;
		&:not(:first-child):before {
			content: "";
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

.elementor-nova-posts {
	.nova-carousel {
		margin-left: 0;
		margin-right: 0;
	}
}
