.nova-parallax-section {

	&__layout {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		perspective: 1200px;
	}

	&__image {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: auto;
		background-position-x: 50%;
		background-position-y: 50%;
		will-change: transform;
	}
	.nova-parallax-section__scroll-layout {
		.nova-parallax-section__image {
			position: absolute;
	    left: 0;
	    top: -20%;
	    height: 120%;
		}
	}
	.nova-parallax-section__scroll-layout:not(.is-mac) {

		.nova-parallax-section__image {
			transition: transform 0.5s cubic-bezier(.25,.88,.54,.98),
						background-position 0s linear;
		}
	}

	.nova-parallax-section__mouse-layout:not(.is-mac) {}
}
